/* ---------------------------------- *\
   #LINKS
\* ---------------------------------- */

a {
  color: var(--setting-default-primary-color);
  text-decoration: none;

  &:visited {
    color: var(--setting-default-primary-color);
  }
}
