/* ---------------------------------- *\
   #ROOT-ELEMENT
\* ---------------------------------- */

// 1. 最低限、ビューポートの高さ分、ページの高さを確保する
// 2. スマデバで自動でズームされるのを防ぐ
:root {
  min-height: 100%; // 1
  box-sizing: border-box;
  background-color: #fff;
  color: $setting-default-text-color;
  font-size: 62.5%; // rem setup 10/16px = 10px
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Hiragino Sans', 'Segoe UI', sans-serif;
  font-feature-settings: 'palt' 1;
  line-height: 1.4;
  text-size-adjust: 100%; // 2
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
