@charset "UTF-8";
/* ---------------------------------- *\
   #RESET
\* ---------------------------------- */
body,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

/* ---------------------------------- *\
   #UNIVERSAL
\* ---------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ---------------------------------- *\
   #ROOT-ELEMENT
\* ---------------------------------- */
:root {
  min-height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #353c43;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Segoe UI", sans-serif;
  font-feature-settings: "palt" 1;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------------------------- *\
   #SECTIONS
\* ---------------------------------- */
body {
  min-width: 980px;
  padding-bottom: 160px;
}

/* ---------------------------------- *\
   #GROUPING-CONTENT
\* ---------------------------------- */
main {
  display: block;
}

/* ---------------------------------- *\
   #TEXT-LEVEL-SEMANTICS
\* ---------------------------------- */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  overflow: auto;
}

/* ---------------------------------- *\
   #EMBEDDED-CONTENT
\* ---------------------------------- */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

/* ---------------------------------- *\
   #LINKS
\* ---------------------------------- */
a {
  color: #5575c7;
  text-decoration: none;
}
a:visited {
  color: #5575c7;
}

/* ---------------------------------- *\
   #TABLES
\* ---------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------- *\
   #FORM
\* ---------------------------------- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}

html input[disabled] {
  cursor: default;
}
input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}
input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}
input[type=file]::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
          appearance: button;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* ---------------------------------- *\
   #HIDDEN
\* ---------------------------------- */
[hidden],
template {
  display: none;
}

/* ---------------------------------- *\
  #FLEX-BOX
\* ---------------------------------- */
.u-InlineFlex {
  display: inline-flex;
}

.u-FlexBox {
  display: flex;
}
.u-FlexBox__item {
  display: block;
  min-width: 1%;
}
.u-FlexBox__item--fill {
  flex: 1;
}
.u-FlexBox__item.u-FlexBox {
  display: flex;
}
.u-FlexBox--center {
  justify-content: center;
}
.u-FlexBox--left {
  justify-content: flex-start;
}
.u-FlexBox--right {
  justify-content: flex-end;
}
.u-FlexBox--justify {
  justify-content: space-between;
}
.u-FlexBox--top {
  align-items: flex-start;
}
.u-FlexBox--middle {
  align-items: center;
}
.u-FlexBox--bottom {
  align-items: flex-end;
}
.u-FlexBox--reverse {
  flex-direction: row-reverse;
}
.u-FlexBox--equal > .u-FlexBox__item {
  flex: 1;
}
.u-FlexBox--withGutter {
  margin-right: -5px;
  margin-left: -5px;
}
.u-FlexBox--withGutter > .u-FlexBox__item {
  padding-right: 5px;
  padding-left: 5px;
}
.u-FlexBox__spacer {
  width: 0.8rem;
  height: 1px;
}
.u-FlexBox__vSpacer {
  width: 1px;
  height: 20px;
}
.u-FlexBox__vSpacer._40 {
  height: 40px;
}
.u-FlexBox__divider {
  padding: 0 0.8rem;
}
.u-FlexBox__divider::after {
  content: "";
  display: block;
  width: 1px;
  height: 3rem;
  background: #ccc;
}

.u-TextEllipsis4line, .u-TextEllipsis3line, .u-TextEllipsis2line, .u-TextEllipsis1line {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.4;
}

.u-TextCenter {
  text-align: center !important;
}
.u-TextLeft {
  text-align: left !important;
}
.u-TextRight {
  text-align: right !important;
}
.u-TextBreak {
  word-break: break-all;
}
.u-TextBreakWord {
  word-wrap: break-word;
}
.u-TextNoWrap {
  white-space: nowrap;
}
.u-TextMinWidth._10em {
  min-width: 10em;
}
.u-TextMinWidth._20em {
  min-width: 20em;
}
.u-TextMinWidth._1by4 {
  min-width: 25%;
}
.u-TextMinWidth._1by2 {
  min-width: 50%;
}
.u-TextMinWidth._min {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}
.u-TextMinWidth._max {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.u-TextMinWidth._full {
  min-width: 100%;
}
.u-TextUnderLine {
  text-decoration: underline;
}
.u-TextDisableVisited:visited {
  color: currentColor;
}
.u-TextEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-TextEllipsis1line {
  -webkit-line-clamp: 1;
  max-height: 1.4em;
}
.u-TextEllipsis2line {
  -webkit-line-clamp: 2;
  max-height: 2.8em;
}
.u-TextEllipsis3line {
  -webkit-line-clamp: 3;
  max-height: 4.2em;
}
.u-TextEllipsis4line {
  -webkit-line-clamp: 4;
  max-height: 5.6em;
}
.u-TextHiddenVisually {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

/* ---------------------------------- *\
  #Breakpoints
\* ---------------------------------- */
.element._sm {
  display: none;
}
@media (max-width: 428px) {
  .element._sm {
    display: block;
  }
}
@media (max-width: 428px) {
  .element._md {
    display: none;
  }
}

.c-Header {
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
}
.c-Header__items {
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.c-Header__item._sm {
  display: none;
}
@media (max-width: 428px) {
  .c-Header__item._sm {
    display: block;
  }
}
@media (max-width: 428px) {
  .c-Header__item._md {
    display: none;
  }
}
.c-Header__logo {
  font-size: 1.6rem;
  font-weight: 700;
}
.c-Header__logo img {
  width: auto;
  max-height: 1.8rem;
}
.c-Header__title {
  font-size: 1.6rem;
  color: #0010d3;
  font-weight: 700;
}

.c-Nav__item {
  padding: 0.4rem 0.8rem;
}
.c-Nav__item._divider {
  border-right: 1px solid #ccc;
}
.c-Nav__item a {
  display: block;
  font-size: 1.3rem;
  color: #353c43;
}
.c-Nav__item a.is-active {
  color: #1e5596;
}
.c-Nav__text {
  font-size: 1.3rem;
  color: #353c43;
}
.c-Nav__text b {
  font-weight: normal;
}
.c-Nav__text .i-icon {
  padding: 0.25rem;
}

.c-Title {
  position: relative;
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
  padding: 1.2rem 1.2rem;
  background: #eceeef;
  white-space: nowrap;
}
.c-Title__text {
  padding-right: 0.8rem;
  font-size: 1.6rem;
}
.c-Title__actions {
  width: 100%;
  font-size: 1.3rem;
}
.c-Title__actions .i-icon {
  padding: 0 0.4rem;
}

.c-Table {
  width: 100%;
}
.c-Table._primary th {
  background: #5575c7;
  color: #fff;
  font-weight: normal;
}
.c-Table._primary th .c-Info i {
  color: #fff;
}
.c-Table._striped tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.c-Table._striped tr:nth-child(even) {
  background-color: #fdfdfd;
}
.c-Table th {
  padding: 8px;
  line-height: 1.4;
  vertical-align: top;
  font-size: 14px;
  border-bottom: 1px solid #f1eede;
  white-space: nowrap;
  text-align: left;
}
.c-Table__colspan th {
  padding: 0;
  border: none;
}
.c-Table__colspan th._underline {
  border-bottom: 1px solid #f1eede;
}
.c-Table td {
  padding: 5px 10px;
  line-height: 1.4;
  font-size: 14px;
  border-bottom: 1px solid #f1eede;
}
.c-Table__badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: #fff;
  background-color: #6c757d;
  border-radius: 10rem;
}

.c-Info {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 3;
}
.c-Info__label {
  position: absolute;
  top: 0;
  right: 2.4em;
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 2px;
  pointer-events: none;
}
.c-Info__label._inline {
  position: relative;
  top: 0;
  right: 0;
  margin-right: 5px;
  border: 1px solid #A94442;
  color: #fff;
  background: #A94442;
}
.c-Info__label._danger {
  border: 1px solid #A94442;
  color: #fff;
  background: #A94442;
}
.c-Info__label._warning {
  border: 1px solid #8A6D3B;
  color: #fff;
  background: #8A6D3B;
}
.c-Info__label._success {
  border: 1px solid #3C763D;
  color: #fff;
  background: #3C763D;
}
.c-Info__label._info {
  border: 1px solid #404040;
  color: #fff;
  background: #404040;
}
.c-Info button {
  background: transparent;
  border: 0;
}
.c-InfoBody {
  display: none;
  position: absolute;
  top: -3.6em;
  width: auto;
  height: 3.6em;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
}
.c-Info:hover .c-InfoBody {
  display: flex;
  align-items: center;
}
.c-InfoBody:before {
  position: absolute;
  content: "";
  display: block;
  bottom: -12px;
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-top: 6px solid #333;
}
.c-InfoBody:not(._right) {
  right: 0;
}
.c-InfoBody:not(._right):before {
  right: 6px;
}
.c-InfoBody._right {
  left: 0;
}
.c-InfoBody._right:before {
  left: 6px;
}

.c-Button {
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 6px 10px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.c-Button:hover {
  color: #5575c7;
}
.c-Button i {
  margin: 0 2px;
}
.c-Button._delete {
  padding: 3px 5px;
  border-radius: 4px;
  border: 1px solid #A94442;
  color: #A94442;
}
.c-Button._delete:hover {
  color: #8A6D3B;
}
.c-Button._primary {
  background: #5575c7;
  color: #fff;
  padding: 6px 10px;
  font-size: 15px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.c-Button._primary:hover {
  color: #fff;
}
.c-Button._download {
  background: #428bca;
  color: #fff;
  padding: 0.4rem 0.8rem 0.8rem;
  font-size: 1.3rem;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.c-Button._download:hover {
  color: #eee;
}
.c-Button._download:visited {
  color: #fff;
}
.c-Button._element {
  background: transparent;
  border: none;
  box-shadow: none;
}
.c-Button._status {
  padding: 0;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  box-shadow: none;
  text-align: left;
  background: #52a351;
}
.c-Button._status span {
  padding: 0 4px;
}
.c-Button._status .i-icon {
  color: #333;
  background: #f6f8f9;
  border-radius: 0 3px 3px 0;
}
.c-Button._valid {
  background: #52a351;
}
.c-Button._invalid {
  background: #6d757c;
}
.c-Button._archive {
  background: #ca5c54;
}
.c-Button._tab {
  background: transparent;
  border: none;
  box-shadow: none;
}
.c-Button._tab.is-selected {
  font-weight: 700;
  color: #5575c7;
  border-bottom: 1px solid #5575c7;
}
.c-Button._menu-item {
  background: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
  margin: -1rem;
  font-weight: bold;
  text-align: left;
  font-size: 1.3rem;
  color: #353c43;
}

/*Checkboxes styles*/
.c-Checkbox {
  transform-origin: top left;
  transform: scale(1.2);
  font-size: 16px;
  cursor: pointer;
  accent-color: #5575c7;
}
.c-Checkbox--all {
  margin-left: 3px;
}

/* ---------------------------------- *\
   #CHECK
\* ---------------------------------- */
.c-Check {
  position: relative;
  display: inline-block;
}
.c-Check__input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
}
.c-Check__input:checked + .c-Check__icon {
  background-color: #5575c7;
}
.c-Check__input:checked + .c-Check__icon .i-icon {
  visibility: visible;
}
.c-Check__input:disabled {
  cursor: default;
}
.c-Check__input:disabled + .c-Check__icon {
  background-color: #e9edf0;
}
.c-Check__input:disabled:checked + .c-Check__icon {
  background-color: #e9edf0;
  border-width: 2px;
  color: #ccc;
}
.c-Check__icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eceeef;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
}
.c-Check__icon .i-icon {
  position: absolute;
  bottom: 0;
  left: 2px;
  visibility: hidden;
}
.c-Check__label {
  position: relative;
  padding-left: 0.4rem;
  vertical-align: top;
  pointer-events: none;
}

/* ---------------------------------- *\
   #RADIO
\* ---------------------------------- */
.c-Radio {
  display: block;
  vertical-align: bottom;
  padding: 5px;
}
.c-Radio--horizontal {
  display: inline-block;
}
.c-Radio__group {
  position: relative;
}
.c-Radio__groupLavel {
  position: absolute;
  top: -1.6rem;
  font-size: 10px;
}
.c-Radio__radio {
  position: absolute;
  opacity: 0;
}
.c-Radio__radio:checked:disabled + .c-Radio__label::before {
  border-color: #ddd;
  background: #e9edf0;
}
.c-Radio__radio:checked + .c-Radio__label::after {
  background-color: #5575c7;
  transform: scale(1);
}
.c-Radio__radio:focus + .c-Radio__label::before {
  border: 2px solid #5575c7;
}
.c-Radio__radio:not(:checked) + .c-Radio__label::after {
  background: #fff;
  transform: scale(0);
}
.c-Radio__label {
  position: relative;
  display: inherit;
  padding-left: 28px;
  min-height: 20px;
  font-size: 1.3rem;
  width: inherit;
  vertical-align: top;
  cursor: pointer;
}
.c-Radio__label._valid span {
  padding: 2px 4px;
  color: #fff;
  background: #52a351;
}
.c-Radio__label._invalid span {
  padding: 2px 4px;
  color: #fff;
  background: #6d757c;
}
.c-Radio__label._archive span {
  padding: 2px 4px;
  color: #fff;
  background: #ca5c54;
}
.c-Radio__label::before {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: #fff;
  content: "";
}
.c-Radio__label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #5575c7;
  content: "";
  transition: 0.4s;
}

.c-Input {
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  color: #353c43;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.c-Input::-moz-placeholder {
  color: #666;
  font-size: 1rem;
}
.c-Input:-ms-input-placeholder {
  color: #666;
  font-size: 1rem;
}
.c-Input::placeholder {
  color: #666;
  font-size: 1rem;
}
.c-Input__group .c-Input {
  min-width: 28rem;
}
.c-Input__label {
  position: relative;
  padding-right: 0.8rem;
}
.c-Input__label label {
  position: absolute;
  top: -1.6rem;
  font-size: 10px;
  color: #666;
  font-weight: 700;
}
.c-Input__required {
  padding: 0 2px;
  color: #E52B20;
  font-style: normal;
}
.c-Input[disabled] {
  background: #eee;
}
.c-Input._file {
  width: 100%;
  color: #353c43;
  font-weight: 700;
}
.c-Input._icon {
  padding: 0.75rem 0.75rem 0.75rem 2.4rem;
  border: 1px solid #999;
}
.c-Input__icon {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}
.c-Input__feedback {
  display: none;
  padding: 4px 0;
  color: #E52B20;
  font-size: 10px;
}

.is-invalid + .c-Input__feedback {
  display: block;
}

.is-invalid {
  border: 1px solid #E52B20;
}

.c-Message {
  width: 600px;
  margin: 10px auto;
  padding: 10px;
  background: #D9EDF7;
  border: 1px solid #BCE8F1;
  border-radius: 4px;
  font-size: 16px;
}
.c-Message a {
  margin: 0 5px;
  text-decoration: underline;
}
.c-Message__icon {
  color: #31708F;
}
.c-Message__text {
  color: #31708F;
}
.c-Message__note {
  padding: 10px 0 0 10px;
  text-align: right;
  font-size: 12px;
}
.c-Message--danger {
  background: #F2DEDE;
  border: 1px solid #EDCCD1;
}
.c-Message--danger .c-Message__icon {
  color: #A94442;
}
.c-Message--danger .c-Message__text {
  color: #A94442;
}
.c-Message--warning {
  background: #FCF8E3;
  border: 1px solid #FAEBCC;
}
.c-Message--warning .c-Message__icon {
  color: #8A6D3B;
}
.c-Message--warning .c-Message__text {
  color: #8A6D3B;
}
.c-Message--success {
  background: #DFF0D8;
  border: 1px solid #D6E9C6;
}
.c-Message--success .c-Message__icon {
  color: #3C763D;
}
.c-Message--success .c-Message__text {
  color: #3C763D;
}
.c-Message--info {
  background: #fff;
  border: 1px solid #ccc;
}
.c-Message--info .c-Message__icon {
  color: #404040;
}
.c-Message--info .c-Message__text {
  color: #404040;
}
.c-Message--loading {
  background: #fff;
  border: 1px solid #ccc;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.c-Message--loading .c-Message__icon {
  color: #666;
}
.c-Message--loading .c-Message__text {
  color: #404040;
}
.c-Message--notice {
  background: #fff;
  border: 1px solid #ccc;
  width: 700px;
  margin: 10px auto;
  padding: 20px 0 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.c-Message--notice .c-Message__text {
  color: #404040;
}
.c-Message--notice .c-Message__text p {
  font-weight: 700;
}
.c-Message--notice .c-Message__text a {
  text-decoration: none;
}
.c-Message--notice .c-Message__text dt {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}
.c-Message--notice .c-Message__text dd {
  display: inline-block;
  font-size: 13px;
  color: #333;
}

.c-NotFound {
  max-width: 780px;
  min-height: 100%;
  margin: 40px auto 80px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.c-NotFound__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
.c-NotFound__text {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.c-NotFound__listItems {
  padding-left: 10px;
}
.c-NotFound__listItem {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
.c-NotFound__listItem:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 2px;
  background: #666;
}

.c-Pagination {
  text-align: center;
  margin-bottom: 20px;
}
.c-Pagination__items {
  display: inline-flex;
}
.c-Pagination__items--sizeFull {
  box-sizing: border-box;
  width: 100%;
}
.c-Pagination__item {
  display: flex;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.c-Pagination__item--fill {
  flex: 1;
}
.c-Pagination__item.is-current > .c-Pagination__body {
  border-color: #5575c7;
  background: #5575c7;
  color: #fff;
  cursor: default;
  pointer-events: none;
}
.c-Pagination__item.is-disabled > .c-Pagination__body {
  border-color: #ccc;
  background-color: #ccc;
  color: #353c43;
  cursor: default;
  pointer-events: none;
}
.c-Pagination__body {
  display: block;
  overflow: hidden;
  padding: 10px;
  min-width: 37px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  color: #353c43;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.c-Pagination__body:hover {
  color: #5575c7;
}
.c-Pagination__body:visited {
  color: #353c43;
}
.c-Pagination__body:disabled {
  border-color: #ccc;
  background-color: #ccc;
  color: #ccc;
}

/* ---------------------------------- *\
   #loading中
\* ---------------------------------- */
.c-Loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.c-Loader__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
.c-Loader__icon {
  display: block;
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-top: 6px solid #fff;
  border-radius: 100%;
  -webkit-animation: load 1s infinite cubic-bezier(0.55, 0.15, 0.45, 0.85);
          animation: load 1s infinite cubic-bezier(0.55, 0.15, 0.45, 0.85);
}

@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.c-Content {
  padding: 16px;
  background: #f7f7f9;
}
.c-Content__inner {
  width: 700px;
  min-height: 100%;
  margin: auto;
  padding: 16px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
}
._1by2 .c-Content__inner {
  width: 50%;
}
._w-m .c-Content__inner {
  width: min(40%, 450px);
  padding-top: 32px;
}
.c-Content__header {
  font-size: 1.3rem;
}
.c-Content__unit {
  padding: 0.8rem 4rem 2.4rem;
}
.c-Content__unitTitle {
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.c-Content__unitText {
  padding-top: 1.6rem;
}
.c-Content__footer {
  font-size: 1.3rem;
}

.c-ItemList {
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
  padding: 10px;
}
.c-ItemList._1by2 {
  background: #f7f7f9;
}
.c-ItemList__header {
  padding: 0.8rem;
  background: #fff;
  font-size: 1.3rem;
  border-bottom: 1px solid #f1eede;
}
.c-ItemList__header._sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.c-ItemList__content {
  background: #fff;
}
._1by2 .c-ItemList__content {
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
}

.c-Tool {
  position: relative;
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
  padding: 2.4rem 1.2rem 1.2rem;
  white-space: nowrap;
  border-bottom: 1px solid #f1eede;
}
.c-Tool__text {
  padding-right: 0.8rem;
  font-size: 1.6rem;
}
.c-Tool__actions {
  font-size: 1.3rem;
}
.c-Tool__actions .i-icon {
  padding: 0 0.4rem;
}

.c-InlineList {
  font-size: 1.3rem;
  white-space: nowrap;
  background: #f7f7f9;
}
.c-InlineList__items {
  padding: 1.4rem;
}
.c-InlineList__item {
  position: relative;
}
.c-InlineList__item:not(:first-child) {
  padding-left: 1.6rem;
}
.c-InlineList__item i {
  position: absolute;
  top: -1.6rem;
  right: 0;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  font-style: normal;
  color: #fff;
  border-radius: 0.8rem;
  background: #E52B20;
}

.c-Tab__items {
  padding: 0.8rem 0.8rem 0;
}
.c-Tab__item {
  padding-right: 0.8rem;
  font-size: 1.3rem;
}

.headlessui-Menu {
  position: relative;
  z-index: 4;
}
.headlessui-Menu__button {
  background: transparent;
  border: none;
}
.headlessui-Menu__items {
  position: absolute;
  right: 0;
  width: 360px;
  margin-top: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.headlessui-Menu__item {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.headlessui-Menu__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.headlessui-Popover {
  position: relative;
}
.headlessui-Popover__panel {
  z-index: 4;
  position: absolute;
  left: 0;
  width: 30rem;
  margin-top: 1.4rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.headlessui-Popover__header {
  padding-bottom: 0.8rem;
}
.headlessui-Popover__header p {
  font-size: 1.4rem;
  font-weight: 700;
}
.headlessui-Popover__body {
  padding: 0.8rem 0;
}
.headlessui-Popover__footer {
  padding-top: 0.8rem;
}
.headlessui-Popover__divider {
  width: 100%;
  height: 1px;
  margin: 0.4rem 0;
  background: #ccc;
}

.headlessui-Dialog__content {
  position: fixed;
  overflow-y: auto;
  inset: 0;
  z-index: 10;
}
.headlessui-Dialog__inner {
  min-height: 100vh;
  padding: 1.6rem;
}
.headlessui-Dialog__body {
  z-index: 11;
  width: 100%;
  max-width: 400px;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 1px 2px rgba(91, 104, 113, 0.32);
}
.headlessui-Dialog__overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  inset: 0;
}
.headlessui-Dialog__title {
  padding-bottom: 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.headlessui-Dialog__title .i-icon {
  color: #5575c7;
}
.headlessui-Dialog__description {
  padding-bottom: 1.3rem;
  font-size: 1.3rem;
}

.chartjs-Chart {
  position: relative;
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
  padding: 10px 10px 20px 150px;
}
.chartjs-Chart .c-Input {
  position: absolute;
  left: 10px;
  top: 40px;
}
