/* ---------------------------------- *\
  #FLEX-BOX
\* ---------------------------------- */

/// 余白サイズ
/// @group object-flex-box
/// @type Number
/// @see $setting-default-spacing
$object-flex-box-spacing: $setting-default-spacing !default;

.u-InlineFlex {
  display: inline-flex;
}

.u-FlexBox {
  display: flex;

  // Element
  &__item {
    display: block;
    min-width: 1%;

    &--fill {
      flex: 1;
    }

    &.u-FlexBox {
      display: flex;
    }
  }

  // Modifier
  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--justify {
    justify-content: space-between;
  }

  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--equal {
    > .u-FlexBox__item {
      flex: 1;
    }
  }

  &--withGutter {
    margin-right: (-0.5 * $object-flex-box-spacing);
    margin-left: (-0.5 * $object-flex-box-spacing);

    > .u-FlexBox__item {
      padding-right: (0.5 * $object-flex-box-spacing);
      padding-left: (0.5 * $object-flex-box-spacing);
    }
  }

  &__spacer {
    width: 0.8rem;
    height: 1px;
  }

  &__vSpacer {
    width: 1px;
    height: 20px;

    &._40 {
      height: 40px;
    }
  }

  &__divider {
    padding: 0 0.8rem;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 3rem;
      background: #f1eede;
    }
  }
}
