///* ---------------------------------- *\
//  #TEXT
//\* ---------------------------------- */

%utility-text-ellipsis-multiline {
  overflow: hidden;
  display: block; // hack for IE
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.4;
}

.u-Text {
  &Center {
    text-align: center !important;
  }

  &Left {
    text-align: left !important;
  }

  &Right {
    text-align: right !important;
  }

  &Break {
    word-break: break-all; // 文字単位
  }

  &BreakWord {
    word-wrap: break-word; // 単語単位
  }

  &NoWrap {
    white-space: nowrap;
  }

  &MinWidth {
    &._10em {
      min-width: 10em;
    }

    &._20em {
      min-width: 20em;
    }

    &._1by4 {
      min-width: 25%;
    }

    &._1by2 {
      min-width: 50%;
    }

    &._min {
      min-width: min-content;
    }

    &._max {
      min-width: max-content;
    }

    &._full {
      min-width: 100%;
    }
  }

  &UnderLine {
    text-decoration: underline;
  }

  &DisableVisited {
    &:visited {
      color: currentColor;
    }
  }

  &Ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &1line {
      @extend %utility-text-ellipsis-multiline;
      -webkit-line-clamp: 1;
      max-height: 1.4em;
    }

    &2line {
      @extend %utility-text-ellipsis-multiline;
      -webkit-line-clamp: 2;
      max-height: 2.8em;
    }

    &3line {
      @extend %utility-text-ellipsis-multiline;
      -webkit-line-clamp: 3;
      max-height: 4.2em;
    }

    &4line {
      @extend %utility-text-ellipsis-multiline;
      -webkit-line-clamp: 4;
      max-height: 5.6em;
    }
  }

  // clip: rect(1px, 1px, 1px, 1px) で0pxでの切り抜きを指定
  // css2+
  &HiddenVisually {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
  }
}
