:root {
  // =============================================================================
  // config
  // =============================================================================

  /// ベースとなるfont-size（px指定）
  /// @group setting.default
  /// @type Number
  --setting-default-global-font-size: 14px;

  /// ベースとなる最小幅（px指定）
  /// @group setting.default
  /// @type Number
  --setting-default-global-minwidth-size: 980px;

  /// ベースとなる最大幅（px指定）
  /// @group setting.default
  /// @type Number
  --setting-default-global-maxwidth-size: 700px;

  /// remベースとなるfont-size（16px / 62.5%）
  /// @group setting.default
  /// @type Number
  --setting-default-global-rem-size: 10;

  /// ベースとなるline-height
  /// @group setting.default
  /// @type Number
  --setting-default-line-height: 1.4;

  /// ベースとなるブランドカラー
  /// @group setting.default
  /// @type Color
  --setting-default-brand-color: #0010d3;

  /// ベースとなる背景色
  /// @group setting.default
  /// @type Color
  --setting-default-background-color: #eceeef;

  /// ベースとなる枠線の色
  /// @group setting.default
  /// @type Color
  --setting-default-border-color: #ccc;

  /// ベースとなるテキスト色
  /// @group setting.default
  /// @type Color
  --setting-default-text-color: #353c43;

  /// ベースとなる補足色
  /// @group setting.default
  /// @type Color
  --setting-second-text-color: #666;

  /// ベースとなるリンク色
  /// @group setting-default
  /// @type Color
  --setting-default-link-text-color: #203b92;

  /// ベースとなる訪問済みのリンク色
  /// @group setting-default
  /// @type Color
  --setting-default-visited-link-text-color: #999;

  /// ベースとなる余白サイズ
  /// @group setting-default
  /// @type Number
  --setting-default-spacing: 10px;

  /// ベースとなるチェックした時の色
  /// @group setting-default
  /// @type color
  --setting-default-checked-color: #4094f7;

  // ベースとなるチェック済みの色
  /// @group setting-default
  /// @type Color
  --setting-default-radio-checked-color: #5575c7;

  /// ベースとなるチェック済みの色
  /// @group setting-default
  /// @type Color
  --setting-default-check-checked-color: #5575c7;

  /// ベースとなる初期設定の色(primary)
  /// @group setting-default
  /// @type Color
  --setting-default-primary-color: #5575c7;

  /// ベースとなる初期設定の色(secondary)
  /// @group setting-default
  /// @type Color
  --setting-default-secondary-color: #f4b402;

  /// ベースとなる現在地を示すの色
  /// @group setting-default
  /// @type Color
  --setting-default-current-color: #1e5596;

  /// ベースとなるカードUIの背景色
  /// @group setting-default
  /// @type Color
  --setting-default-card-background-color: #f9f9f9;

  /// ベースとなるカードUIの枠線の色
  /// @group setting-default
  /// @type Color
  --setting-default-card-border-color: #ccc;

  /// ベースとなるカードUIのbox-shadow色
  /// @group setting-default
  /// @type Color
  --setting-default-card-box-shadow-color: rgba(0, 0, 0, 0.3);

  /// ベースとなるカードUIのbox-shadow
  /// @group setting-default
  /// @type String
  --setting-default-card-box-shadow: 0 1px 2px
    var(--setting-default-card-box-shadow-color);

  /// ベースとなるカードUIのbox-shadow--soft
  /// @group setting-default
  /// @type String
  --setting-default-card-box-shadow--soft: 0 4px 8px rgba(0, 0, 0, 0.1);

  // =============================================================================
  // config/State
  // =============================================================================

  /// ベースとなる成功の色
  /// @group setting-default
  /// @type Color
  --setting-default-success-color: #3c763d;
  --setting-default-success-background-color: #dff0d8;
  --setting-default-success-border-color: #d6e9c6;

  /// ベースとなる非活性の色
  /// @group setting-default
  /// @type Color
  --setting-default-disabled-color: #ccc;

  /// ベースとなるメッセージの色
  /// @group setting-default
  /// @type Color
  --setting-default-message-color: #31708f;
  --setting-default-message-background-color: #d9edf7;
  --setting-default-message-border-color: #bce8f1;

  /// ベースとなる危険情報の色
  /// @group setting-default
  /// @type Color
  --setting-default-danger-color: #a94442;
  --setting-default-danger-background-color: #f2dede;
  --setting-default-danger-border-color: #edccd1;

  /// ベースとなる注意情報の色
  /// @group setting-default
  /// @type Color
  --setting-default-warning-color: #8a6d3b;
  --setting-default-warning-background-color: #fcf8e3;
  --setting-default-warning-border-color: #faebcc;

  /// ベースとなるインフォメーションの色
  /// @group setting-default
  /// @type Color
  --setting-default-info-color: #404040;
  --setting-default-info-background-color: #fff;
  --setting-default-info-border-color: #ccc;

  /// ベースとなる必須項目の色
  /// @group setting-default
  /// @type Color
  --setting-default-required-color: #ff1f85;

  /// ベースとなるエラーの色
  /// @group setting-default
  /// @type Color
  --setting-default-error-color: #e52b20;
}
