// =============================================================================
// config/State
// =============================================================================

/// ベースとなる成功の色
/// @group setting-default
/// @type Color
$setting-default-success-color: #3C763D !default;
$setting-default-success-background-color: #DFF0D8 !default;
$setting-default-success-border-color: #D6E9C6 !default;

/// ベースとなる非活性の色
/// @group setting-default
/// @type Color
$setting-default-disabled-color: #ccc !default;

/// ベースとなるメッセージの色
/// @group setting-default
/// @type Color
$setting-default-message-color: #31708F !default;
$setting-default-message-background-color: #D9EDF7 !default;
$setting-default-message-border-color: #BCE8F1 !default;

/// ベースとなる危険情報の色
/// @group setting-default
/// @type Color
$setting-default-danger-color: #A94442 !default;
$setting-default-danger-background-color: #F2DEDE !default;
$setting-default-danger-border-color: #EDCCD1 !default;

/// ベースとなる注意情報の色
/// @group setting-default
/// @type Color
$setting-default-warning-color: #8A6D3B !default;
$setting-default-warning-background-color: #FCF8E3 !default;
$setting-default-warning-border-color: #FAEBCC !default;

/// ベースとなるインフォメーションの色
/// @group setting-default
/// @type Color
$setting-default-info-color: #404040 !default;
$setting-default-info-background-color: #fff !default;
$setting-default-info-border-color: #ccc !default;

/// ベースとなる必須項目の色
/// @group setting-default
/// @type Color
$setting-default-required-color: #ff1f85 !default;

/// ベースとなるエラーの色
/// @group setting-default
/// @type Color
$setting-default-error-color: #E52B20 !default;
