//----------------------------------------------------
//  import
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------

/*Checkboxes styles*/
.c-Checkbox {
  transform-origin: top left;
  transform: scale(1.2);
  font-size: 16px;
  cursor: pointer;
  accent-color: $setting-default-primary-color;

  &--all {
    margin-left: 3px;
  }
}
