//----------------------------------------------------
//  import
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------

/*Checkboxes styles*/
.c-Checkbox {
  transform: scale(1.5);
  font-size: 16px;
  cursor: pointer;

  &--all {
    margin-left: 3px;
  }
}
