//----------------------------------------------------
//  import
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------

.c-Nav {
  &__items {
  }

  &__item {
    padding: 0.4rem 0.8rem;

    // 仕切り線
    &._divider {
      border-right: 1px solid $setting-default-border-color;
    }

    a {
      display: block;
      font-size: 1.3rem;
      color: $setting-default-text-color;

      &.is-active {
        color: $setting-default-current-color;
      }
    }
  }

  &__text {
    font-size: 1.3rem;
    color: $setting-default-text-color;

    b {
      font-weight: normal;
    }

    .i-icon {
      padding: 0.25rem;
    }
  }
}
