/* ---------------------------------- *\
   #RADIO
\* ---------------------------------- */

// ```html:c-Radio
// <div class="c-Radio">
//   <input class="c-Radio__radio" type="radio" id="dummyID-Radio-02-01" name="dummyID-Radio-02" checked>
//   <label class="c-Radio__label" for="dummyID-Radio-02-01">Radio Box</label>
// </div><!--/.c-Radio-->
// <div class="c-Radio">
//   <input class="c-Radio__radio" type="radio" id="dummyID-Radio-02-02" name="dummyID-Radio-02">
//   <label class="c-Radio__label" for="dummyID-Radio-02-02">Radio Box</label>
// </div><!--/.c-Radio-->
// ```

/// @group component-radio
/// @type Color
$component-radio-disabled-border-color: #eee !default;

/// Radio枠のベースとなる半径
/// @group component-radio
/// @type Number
$component-radio-default-radius: 10px !default;

/// チェックした時のベースとなる半径
/// @group component-radio
/// @type Number
$component-radio-checked-radius: 5px !default;

/// @group component-radio
/// @type Color
$component-radio-background-color: #fff !default;

/// @type Color
$component-radio-disabled-background-color: #e9edf0 !default;

/// @type Color
$component-radio-disabled-color: #ccc !default;

/// @type Color
$component-radio-border-color: #ddd !default;

.c-Radio {
  display: block;
  vertical-align: bottom;
  padding: 5px;

  &--horizontal {
    display: inline-block;
  }

  // ラジオグループ
  // グループに追加する擬似ラベル
  &__group {
    position: relative;
  }

  &__groupLavel {
    position: absolute;
    top: -1.6rem;
    font-size: 10px;
  }
  //

  &__radio {
    position: absolute;
    opacity: 0;

    &:checked {
      &:disabled + .c-Radio__label {
        &::before {
          border-color: $component-radio-border-color;
          background: $component-radio-disabled-background-color;
        }
      }

      + .c-Radio__label {
        &::after {
          background-color: var(--setting-default-radio-checked-color);
          transform: scale(1);
        }
      }
    }

    &:focus {
      & + .c-Radio__label {
        // base
        &::before {
          border: 2px solid var(--setting-default-radio-checked-color);
        }
      }
    }

    &:not(:checked) + .c-Radio__label {
      &::after {
        background: $component-radio-background-color;
        transform: scale(0);
      }
    }

    // &:disabled + .c-Radio__label {
    //   color: $component-radio-disabled-color;
    //   cursor: default;
    //
    //   &::before {
    //     border-color: $component-radio-border-color;
    //     background: $component-radio-disabled-background-color;
    //   }
    //
    //   &::after {
    //     background: $component-radio-disabled-color;
    //   }
    // }
  }

  &__label {
    position: relative;
    display: inherit;
    padding-left: 20px + 8px;
    min-height: 20px;
    font-size: 1.3rem;
    width: inherit;
    vertical-align: top;
    cursor: pointer;

    // キャンペーンステータス表示
    &._valid {
      span {
        padding: 2px 4px;
        color: #fff;
        background: #52a351;
      }
    }

    &._invalid {
      span {
        padding: 2px 4px;
        color: #fff;
        background: #6d757c;
      }
    }

    &._archive {
      span {
        padding: 2px 4px;
        color: #fff;
        background: #ca5c54;
      }
    }
    // --

    // &:not(:empty) {
    //   padding-left: 20px + 8px;
    // }

    // base
    &::before {
      position: absolute;
      box-sizing: border-box;
      top: 50%;
      left: 0;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      border: 2px solid $component-radio-border-color;
      border-radius: $component-radio-default-radius;
      background: $component-radio-background-color;
      content: '';
    }

    // checked
    &::after {
      position: absolute;
      top: 50%;
      left: 5px;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      border-radius: $component-radio-checked-radius;
      background: var(--setting-default-radio-checked-color);
      content: '';
      transition: 0.4s;
    }
  }
}
