//----------------------------------------------------
//  DOM
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------

.c-InlineList {
  font-size: 1.3rem;
  white-space: nowrap;
  background: #f7f7f9;

  &__items {
    padding: 1.4rem;
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      padding-left: 1.6rem;
    }

    i {
      position: absolute;
      top: -1.6rem;
      right: 0;
      padding: 0.2rem 0.4rem;
      font-size: 1rem;
      font-style: normal;
      color: #fff;
      border-radius: 0.8rem;
      background: var(--setting-default-error-color);
    }
  }
}
