//----------------------------------------------------
//  import
//----------------------------------------------------

// ----------------------------------------------------
// 変数
// ----------------------------------------------------

// .#{$setting-service-id}-Tab {
.c-Tab {
  &__items {
    padding: 0.8rem 0.8rem 0;
  }

  &__item {
    padding-right: 0.8rem;
    font-size: 1.3rem;
  }
}
